-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.container
  .row
    .login
      .lock-area
        %i.fa.fa-lock.lock
      = form_with scope: :session, url: login_path, local: true do |f|
        .form-group
          = f.label :email, 'Email'
          = f.text_field :email, class: 'form-control'
        .form-group
          = f.label :password, 'Password'
          %br
          = f.password_field :password, class: 'font-control'
        .lock-area
          =f.submit 'Log in', class: 'btn btn-warning', style: 'color: rgb(255, 255, 255);'
          %button.btn.btn-primary
            = link_to 'Sign up', users_path, class: 'menu-link'
-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'