-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.container
  .row
    .login
      .lock-area
        %i.fa.fa-lock.lock
      = form_with scope: :session, url: login_path, local: true do |f|
        .form-group
          = f.label :email, 'Email'
          = f.text_field :email, class: 'form-control'
        .form-group
          = f.label :password, 'Password'
          %br
          = f.password_field :password, class: 'font-control'
        .lock-area
          =f.submit 'Log in', class: 'btn btn-warning', style: 'color: rgb(255, 255, 255);'
          %button.btn.btn-primary
            = link_to 'Sign up', users_path, class: 'menu-link'
    .commentary.col-12
      %h2 理想的な家計簿アプリ
      %p 日々のお金の出し入れを収入、貯金、固定費、変動費の4つに細分化することでどこにお金を多く使用しているのか可視化。
      %img.image{ :src => "/assets/残高.png" }
    .commentary.col-12
      %p 目標貯金額の達成率を簡単に見ることができます。
      %img.image{ :src => "/assets/貯金.png" }
    .commentary.col-12
      %p それぞれの年間、月間、週間ごとの集計レポートを見ることができます。
      %img.report{ :src => "/assets/集計.png" }

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'