-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.container-fluid
  .row
    -# ----------------------------
    -# sidebar
    -# ----------------------------
    = render 'layouts/side_bar'

    %div.col-8{ style: 'margin-left: 30px;'}
      %h2 【変動費】
      %button.btn.btn-warning.enroll-in
        %i.fa.fa-plus-circle
        = link_to '登録', new_variable_cost_path, class: 'menu-link'
      - if @variableCost.present?
        .col-10
          %h2 現在の総変動費は#{VariableCost.sum(:money)}円です。
          .chart-container.col-12
            %canvas#myChart.col-12{ style: 'position: relative; width:100vw; height:50vh' }.col-12
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th 日付
                %th 商品名
                %th 説明
                %th 金額
                %th
                %th
            %tbody
              - @variableCost.each do |variableCost|
                %tr
                  %td= variableCost.created_at.strftime('%Y/%m/%d %H:%M')
                  %td= variableCost.name
                  %td= variableCost.content
                  %td= variableCost.money.to_i
                  %td
                    %button.btn.btn-warning
                      = link_to "編集", edit_variable_cost_path(variableCost), class: 'menu-link'
                  %td
                    %button.btn.btn-danger
                      = link_to "削除", variableCost, method: :delete, data: { confirm: 'この操作を取り戻すことができません。本当に削除しますか？' }, class: 'menu-link'
      - else
        %a 登録されている収入はありません。

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'

:javascript
  document.addEventListener("turbolinks:load", function(){
    var ctx = document.getElementById("myChart").getContext('2d');
  
    var original = Chart.defaults.global.legend.onClick;
    Chart.defaults.global.legend.onClick = function(e, legendItem) {
      update_caption(legendItem);
      original.call(this, e, legendItem);
    };
    
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: (gon.week),
        datasets: [{
          label: '過去7日間の変動費(1単位/1000円)',
          backgroundColor: "rgb(255,228,181)",
          data: [(gon.money_month_7), (gon.money_6), (gon.money_5), (gon.money_4), (gon.money_3), (gon.money_2), (gon.money_1)],
        }]
      },
      options: {
        title: {
          display: true,
          padding:3,
          fontSize: 26
        },
        scales: {
          xAxes: [{
            stacked: true,
            categoryPercentage:0.8
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              stepSize: 2
            }
          }]
        },
        legend: {
          labels: {
            boxWidth: 12,
            padding: 20
          },
          display: true
        },
        tooltips:{
          mode:'label'
        },
        maintainAspectRatio: false,
      }
    });
  });