%h2 変動費について
.container
  .row
    %canvas#myChart.col-12
    - if @variableCost.present?
      .col-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th 日付
              %th 商品名
              %th 説明
              %th 金額
              %th 合計
              -# %th
              -# %th
          %tbody
            - @variableCost.each do |income|
              %tr
                %th= income.created_at.strftime('%Y/%m/%d %H:%M')
                %th= income.name
                %th= income.content
                %th= income.money.to_i
                %th ?
                -# %td
                -#   = link_to "編集", edit_income_path
                -# %td
                -#   = link_to "/posts/#{income.id}/destroy", {method: "income"} do
                -#     %button 削除
    - else
      %a 登録されている収入はありません。

:javascript
  document.addEventListener("turbolinks:load", function(){
    const ctx = document.getElementById("myChart").getContext('2d');
  
    const original = Chart.defaults.global.legend.onClick;
    Chart.defaults.global.legend.onClick = function(e, legendItem) {
      update_caption(legendItem);
      original.call(this, e, legendItem);
    };
    
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["2016", "2017", "2018", "2019"],
        datasets: [{
          type: 'line',
          label: '合計',
          lineTenstion: 0,
          borderColor: "rgb(250,128,114)",
          borderWidth: "3",
          backgroundColor: "rgb(250,128,114)",
          fill: false,
          data: [3, 7, 11, 17],
          pointStyle: "rect",
          pointBorderColor: "rgb(250,128,114)",
          pointBackgroundColor: "rgb(250,128,114)",
          pointRadius: 10,
          pointHoverRadius: 10,
          pointHoverBackgroundColor: "rgb(250,128,114)",
          pointHoverBorderColor: "rgb(250,128,114)",
        }, {
          label: '男性',
          backgroundColor: "rgba(91,155,213,1)",
          data: [1, 3, 5, 9],
        }, {
          label: '女性',
          backgroundColor: "rgb(255,228,181)",
          data: [2, 4, 6, 8],
        }]
      },
      options: {
        title: {
          display: true,
          padding:3,
          fontSize: 26
        },
        scales: {
          xAxes: [{
            stacked: true,
            categoryPercentage:0.8
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              stepSize: 2
            }
          }]
        },
        legend: {
          labels: {
            boxWidth: 12,
            padding: 20
          },
          display: true
        },
        tooltips:{
          mode:'label'
        }
      }
    });
  });