-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.container-fluid
  .row
    -# ----------------------------
    -# sidebar
    -# ----------------------------
    = render 'layouts/side_bar'

    %div.col-8{ style: 'margin-left: 100px;'}
      %h2 固定費登録の編集
      .col-12
        = form_for @fixedCost do |f|
          .form-group
            = f.label :name, '商品名'
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :content, '用途'
            = f.text_area :content, class: 'form-control', rows:5
          .form-group
            = f.label :money, '金額'
            = f.number_field :money, min: 0, max: 10000000
          -# .form-group
          -#   %p 種類
          -#   = f.select :label, [['貯蓄', 'savings'], ['給与等', 'supply']]

          = f.submit '登録'