-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.container-fluid
  .row
    -# ----------------------------
    -# sidebar
    -# ----------------------------
    = render 'layouts/side_bar'

    %div.col-8{ style: 'margin-left: 100px;'}
      %h2 固定費について
      %button.btn
        = link_to '登録', new_fixed_cost_path	
      %canvas#myChart.col-12
      - if @fixedCost.present?
        .col-12
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th 日付
                %th 商品名
                %th 説明
                %th 金額
                %th 合計
                -# %th
                -# %th
            %tbody
              - @fixedCost.each do |f|
                %tr
                  %th= f.created_at.strftime('%Y/%m/%d %H:%M')
                  %th= f.name
                  %th= f.content
                  %th= f.money.to_i
                  %th ?
                  -# %td
                  -#   = link_to "編集", edit_income_path
                  -# %td
                  -#   = link_to "/posts/#{income.id}/destroy", {method: "income"} do
                  -#     %button 削除
      - else
        %a 登録されている収入はありません。

:javascript
  document.addEventListener("turbolinks:load", function(){
    const ctx = document.getElementById("myChart").getContext('2d');
  
    const original = Chart.defaults.global.legend.onClick;
    Chart.defaults.global.legend.onClick = function(e, legendItem) {
      update_caption(legendItem);
      original.call(this, e, legendItem);
    };
    
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["2016", "2017", "2018", "2019"],
        datasets: [{
          type: 'line',
          label: '合計',
          lineTenstion: 0,
          borderColor: "rgb(250,128,114)",
          borderWidth: "3",
          backgroundColor: "rgb(250,128,114)",
          fill: false,
          data: [3, 7, 11, 17],
          pointStyle: "rect",
          pointBorderColor: "rgb(250,128,114)",
          pointBackgroundColor: "rgb(250,128,114)",
          pointRadius: 10,
          pointHoverRadius: 10,
          pointHoverBackgroundColor: "rgb(250,128,114)",
          pointHoverBorderColor: "rgb(250,128,114)",
        }, {
          label: '男性',
          backgroundColor: "rgba(91,155,213,1)",
          data: [1, 3, 5, 9],
        }, {
          label: '女性',
          backgroundColor: "rgb(255,228,181)",
          data: [2, 4, 6, 8],
        }]
      },
      options: {
        title: {
          display: true,
          padding:3,
          fontSize: 26
        },
        scales: {
          xAxes: [{
            stacked: true,
            categoryPercentage:0.8
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              stepSize: 2
            }
          }]
        },
        legend: {
          labels: {
            boxWidth: 12,
            padding: 20
          },
          display: true
        },
        tooltips:{
          mode:'label'
        }
      }
    });
  });