%h2 固定費登録
.col-12
  = form_with model: @fixedCost, url: fixed_costs_path, local: true do |form|
    - @fixedCost.collection.each do |fixed_cost|
      = fields_for 'fixed_cost[]', fixed_cost do |f|
        .form-group
          = f.label :name, '商品名'
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :content, '用途'
          = f.text_area :content, class: 'form-control', rows:5
    = form.submit '登録'
