%nav.col-md-2.sidebar.d-none.d-md-block.bg-light
  .sidebar-stickey
    %ul.nav.flex-colum.nav.nav-sidebar{ style: 'margin-top: 40px; margin-left: 40px;' }
      %li.nav-item
        %button.btn.btn-warning.side-btn
          %i.fa.fa-home.menu-icon
          = link_to 'ホーム', root_path, class: 'nav-link menu-link'
    %ul.nav.flex-colum.nav.nav-sidebar{ style: 'margin-left: 40px;' }
      %li.nav-item
        %button.btn.btn-warning.side-btn
          %i.fa.fa-coins.menu-icon
          = link_to '収入', incomes_path, class: 'nav-link menu-link'
    %ul.nav.flex-colum.nav.nav-sidebar{ style: 'margin-left: 40px;' }
      %li.nav-item
        %button.btn.btn-warning.side-btn
          %i.fa.fa-comment-dollar.menu-icon
          = link_to '変動費', variable_costs_path, class: 'nav-link menu-link'
    %ul.nav.flex-colum.nav.nav-sidebar{ style: 'margin-left: 40px;' }
      %li.nav-item
        %button.btn.btn-warning.side-btn
          %i.fa.fa-comment-dollar.menu-icon
          = link_to '固定費', fixed_costs_path, class: 'nav-link menu-link'
    %ul.nav.flex-colum.nav.nav-sidebar{ style: 'margin-left: 40px;' }
      %li.nav-item
        %button.btn.btn-warning.side-btn
          %i.fa.fa-chart-bar.menu-icon
          = link_to '集計', report_path, class: 'nav-link menu-link'
    %ul.nav.flex-colum.nav.nav-sidebar{ style: 'margin-left: 40px;' }
      %li.nav-item
        %button.btn.btn-warning.side-btn
          %i.fa.fa-user-cog.menu-icon
          = link_to '設定', new_landing_page_path, class: 'nav-link menu-link'
    %hr/
    %ul.nav.flex-colum.nav.nav-sidebar{ style: 'margin-left: 20px;' }
      %li.nav-item
        %button.btn.btn-secondary
          %i.fa.fa-paper-plane
          = link_to 'お問い合わせ', root_path, class: 'nav-link menu-link contact-link'
